html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.8;
}

header, section[class='main'], footer {
  padding: 10%;
  text-align: center;
}

header {
  padding: 5%;
  background: papayawhip;
}

section[class='main'] {
  background: #fafafa;
  min-height: 400px;
}

section[class='main'] img {
  float: right;
  margin-left: 100px;
}

footer {
  clear: both;
  padding: 5%;
  background: lightblue;
}
